
.card-img{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 153px;
    display: flex;
  
}

.cardBody{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6{
        font-size: 10px !important;
        font-weight: 300;
        font-family: "Noto Sans Mono", monospace;
        text-align: center;
    

    }


    p{
        text-align: center;
        padding: 0.5rem;
    }
}



.card-containers{
margin: 2rem;
    width:267px;
    height: 314px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    


}
.card-containers:hover,:focus{
    
    background-color: rgb(252, 235, 235);
    
    }
    


@media screen and (max-width:767px) {
    .cardBody{

        flex-direction: column;

    }
        .heding{
 
            font-size: 35px !important;
        

}
}
@media screen and (max-width:992px) {
    .cardBody{

       
        flex-wrap: wrap;
    

}
}